body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
}

#clock-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
}

#main-buttons {
  position: absolute;
  bottom: 1em;
}

#progress-bar {
  position: absolute;
  bottom: 5em;
  width: 80%;
}

#timer-text {
  position: absolute;
  bottom: 12em;
}

.App-header {
  top: 20px;
  padding: 20px;
  text-align: center;
  color: #61dafb;
}

#app-mode-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#projects-button {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.settings-div {
  text-align: center;
}

.settings-element {
  padding: 8px;
}